.navbar-main { 
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 5em; */
}

.navbar-container { 
  display:flex;
  gap: 2em;
}

.home-main {
  display:flex;
  align-items: center;
}